aside {
   background-image: url("../img/img/sidebar-bg.png");
   background-size: cover;
   background-color: var(--aside-bg-color);
   color: var(--primary-color-invert);
}

/* .ms_command nel file components.css */
