aside {
   display: flex;
   flex-flow: column nowrap;

   background-image: url("../img/img/sidebar-bg.png");
   background-size: cover;
   background-color: #061e34;

   color: white;
}

aside :last-child {
   margin-top: auto;
}
