/* =======================
      my VARIABLES   
========================== */
:root {
   /* misure*/
   --header-height: 4.375rem;
}
/* =======================
      my reset   
========================== */

ul {
   padding: 0;
   list-style: none;
   margin-bottom: 0;
}

a {
   color: inherit;
   text-decoration: none;
}

button {
   padding: 0;
   color: inherit;
   border: none;
   background-color: transparent;
}

/* =======================
      COMMONS
========================== */
/* struttura macro aree */
body {
   height: 100vh;
}

header {
   height: var(--header-height);
}

.ms_page-container {
   display: flex;
   height: calc(100vh - var(--header-height));
}

aside {
   flex-shrink: 0;
   padding: 1rem;
}

main {
   flex-grow: 1;
}

/* =======================
      TYPOGRAPHY  
========================== */
body {
   font-family: 'Roboto', sans-serif;
}

/* =======================
      my UTILITIES   
========================== */
