/* =======================
      my VARIABLES   
========================== */
:root {
   /* colors */

   /* misure macro aree*/
   --header-height: 3.5rem;

   /* misure micro aree */
   --ms_space-1: 1rem;
}
/* =======================
      my reset   
========================== */
ul {
   padding: 0;
   list-style: none;
   margin-bottom: 0;
}

a {
   color: inherit;
   text-decoration: none;
}

/* =======================
      TYPOGRAPHY  
========================== */
body {
   font-family: 'Roboto', sans-serif;
}

/* =======================
      my UTILITIES   
========================== */
