main {
   overflow-y: auto;
}
/* =======================
      top-bar
========================== */
.ms_top-bar {
   background-color: var(--secondary-bg-color);
   color: white;
}

/* ms_table */

.ms_table th:first-child,
.ms_table td:first-child {
   width: auto;
}

.ms_table th:not(:first-child),
.ms_table td:not(:first-child) {
   width: 6.5rem;
}

.ms_table td img {
   height: 2rem;
   max-width: 2rem;
}

/* FAQ accordion */
.accordion-button:focus {
   box-shadow: none;
   /* tolgo l'outline blu orrenda */
}
