.ms_command {
   background-color: rgba(0, 0, 0, 0.3);
   transition: background-color 0.3s ease-in;
   padding: 0.5rem;
}

.ms_command:hover {
   background-color: rgba(255, 255, 255, 0.6);
}

.ms_command i {
   font-size: 1.3rem;
   width: 2rem;
   text-align: center;
}
